.hero {
	width: 100%;
	height: 200px;
}

.hero img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

@media screen and (min-width: 48em) {
	.hero {
		height: 400px;
	}
	.hero img {
		height: 400px;
	}
}

@media screen and (min-width: 64em) {
	.hero {
		height: 500px;
	}
	.hero img {
		height: 500px;
	}
}
