/* Add a black background color to the top navigation */
.topnav {
	overflow: hidden;
	text-underline-offset: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: var(--nav-margin);
	border: var(--nav-border);
	border-radius: var(--nav-border-radius);
	width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	display: block;
	color: var(--primary-font-color);
	text-align: center;
	padding: 16px;
	text-decoration: none;
	font-size: 1.2em;
}

/* Change the color of links on hover */
.topnav a:hover {
	text-decoration: underline;
}

/* Add an active class to highlight the current page */
.topnav a.active {
	color: var(--primary-color);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
	display: none;
}

.icon-menu {
	height: 50px;
	width: 50px;
}

.icon-menu svg path {
	fill: var(--primary-font-color);
}

/* When the screen is less than 768 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 48em) {
	.topnav {
		display: block;
		align-items: initial;
		width: auto;
		padding: 16px 16px 0 16px;
	}

	.topnav.responsive {
		background-color: var(--background-color);
	}

	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 48em) {
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
	}
}
