.paginator {
  display: grid;
  grid-row: 1;
  grid-column: 4;
  grid-auto-flow: column;
  margin: 28px 0 28px 0;
}

.paginator a {
  text-align: center;
}

.paginator a:first-child {
  text-align: left;
}

.paginator a:last-child {
  text-align: right;
}

@media (max-width: 768px) {
  .paginator a:first-child {
    display: none;
  }
  
  .paginator a:last-child {
    display: none;
  }
}