---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import { getCollection } from 'astro:content';
import EntryCard from '../../components/entry-card/EntryCard.astro';
let allPosts = await getCollection('blog');
allPosts = allPosts.filter((entry) => entry.slug.split('/')[0] === 'en');

const heroImg =
	'https://directus.aaronczichon.de/assets/ad8ec531-a3b7-45f1-b0c8-81fffd1ca84d.jpg?quality=80&width=2000';
---

<Layout title="Canada - Working Holiday for 12 months">
  <Hero url={heroImg} alt="Bright blue sky showing a large Canadian flag." />
  <main class="container">
    <article style="margin-bottom: 0">
      <h1>Living and travelling through Canada</h1>
      From March 2024 to the end of February 2025 we lived and traveled through Canada. Thus, we made a dream come true. <br />
      We started with 2 months in Halifax, Nova Scotia and then traveled through the country and explored the wonderful and beautiful Canada. <br />
      <br />
      We've been to the country several times before the longer stay. All the more, after that, we became aware that there is still a lot to discover. <br />
      Therefore, we will also report on future trips to Canada here. The next trip will take place in the summer of 2026. <br />
    </article>
    <h2>Latest entries</h2>
    <div class="entry-grid">
      {
        allPosts
          .sort((a, b) => {
            return a.data.pubDate > b.data.pubDate ? -1 : 1;
          })
          .slice(0, 4)
          .map((post) => <EntryCard post={post} lang="en-CA" />)
      }
    </div>
    <a href="/en/blog/1" style="padding-bottom: 32px">read more...</a>
  </main>
</Layout>
