---
import Layout from "../../layouts/Layout.astro";
import MultiMap from "../../components/dynamic/MultiMap";
import { VisitingLocations } from "../../content/visiting-locations";

const visitingLocations = VisitingLocations;
---

<Layout title="Canada - Map">
  <main class="container">
    <h1>Map</h1>
    <p>
      You want to know where we are currently? Here you can find our current
      locations.
      <br />
      First we stayed in Halifax, Nova Scotia.<br />
      Currently we are in Brighton, Newfoundland. The map will be updated over the
      year.
    </p>
  </main>

  <MultiMap
    client:visible
    zoom={visitingLocations.zoom}
    mapCenter={visitingLocations.mapCenter}
    points={visitingLocations.points}
  />
</Layout>
