---
import Layout from '../../layouts/Layout.astro';
import MultiMap from '../../components/dynamic/MultiMap';
import { VisitingLocations } from '../../content/visiting-locations';

const visitingLocations = VisitingLocations;
---

<Layout title="Canada - Map">
  <main class="container">
    <article style="margin-bottom: 0;">
    <h1>Map</h1>
    <p>
      On this map, you can find all of our previous routes and trips to Canada.<br />
      The big highlight is, of course, our journey through Canada in 2024 and early 2025, which is shown in green.<br />
      Additionally, you can also see our 2023 travel route through Nova Scotia and PEI in red and our 2022 trip through the Canadian Rocky Mountains in blue.
    </p>
  </article>
  </main>

  <MultiMap
    client:visible
    zoom={visitingLocations.zoom}
    mapCenter={visitingLocations.mapCenter}
    points={visitingLocations.points}
    routes={visitingLocations.routes}
    lang="en"
  />
</Layout>
