---
const { tags, lang } = Astro.props;

const langPrefix = lang === "de-DE" ? "" : "/en";

const buildUrl = (tag: string, langPrefix: string) => {
  return `${langPrefix}/blog/${encodeURIComponent(tag)}/1`;
};
---

{
  tags.map((tag: string) => (
    <a class="entry-tag" href={buildUrl(tag, langPrefix)}>
      #{tag}
    </a>
  ))
}
