/* Small devices such as large phones (640px and up) */
:root {
	--breakpoint-xs: 40em;
	--breakpoint-sm: 48em;
	--breakpoint-md: 64em;
	--breakpoint-lg: 80em;
}

@media only screen and (min-width: 40em) {
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
}
