.lang-header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	height: 40px;
	font-size: 0.9rem;
}

.lang-header a {
	text-decoration: none;
}

.lang-header a.active {
	text-decoration: underline;
}

.lang-header a:last-child {
	margin-left: 12px;
}
