.container-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.gallery-container {
	display: flex;
	justify-content: center;
}

.btn {
	height: 50px;
	font-family: 'Mona Sans';
	font-size: 1rem;
	border: 1px solid var(--primary-color);
	background-color: var(--primary-color);
	color: white;
	cursor: pointer;
	border-radius: 5px;
	padding: 0 8px 0 8px;
}
