/**
 * It's fine to commit this token as this bind to the domain and can only used with the domain it's bind to.
 * If you want to use the site on another domain or locally you need to change this token.
 * Better: You create a "public-tokens.ts" inside the "src" folder with your token so that it's not commited to the repository.
 */
export const PUBLIC_TOKENS = {
  mapbox:
    "pk.eyJ1Ijoid2ViYXRsYXMiLCJhIjoiY2xrdHB6dHg0MGVqbTNnbzR4Z3pvbTBvNCJ9.jSswMTOvnmDuLu9v9mdp9w",
};
