---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import { getCollection } from 'astro:content';
import EntryCard from '../components/entry-card/EntryCard.astro';
let allPosts = await getCollection('blog');
allPosts = allPosts.filter((entry) => entry.slug.split('/')[0] !== 'en');

const heroImg =
	'https://directus.aaronczichon.de/assets/ad8ec531-a3b7-45f1-b0c8-81fffd1ca84d.jpg?quality=80&width=2000';
---

<Layout title="Canada - Working Holiday für 12 Monate">
  <Hero
    url={heroImg}
    alt="Strahlendblauer Himmel welcher eine große Kanada-Flagge zeigt."
  />
  <main class="container">
    <article style="margin-bottom: 0">
      <h1>Leben und Reisen in und durch Kanada</h1>
      Von März 2024 bis Ende Februar 2025 lebten und reisten wir duch Kanada. Damit haben wir einen Traum wahr werden lassen. <br />
      Angefangen haben wir mit 2 Monaten in Halifax, Nova Scotia und sind dann durch das Land gereist und haben das wunderbare und schöne Kanada erkundet. <br />
      <br />
      Wir sind auch schon vor diesem langen Aufenthalt schon einige Male nach Kanada gereist. Umso mehr ist uns nach dem längeren Aufenthalt bewusst geworden, dass es noch einiges dort zu entdecken gibt. <br />
      Daher werden wir auch über zukünftige Reisen nach Kanada hier berichten. Die nächste Reise wird wahrscheinlich im Sommer 2026 stattfinden. <br />
    </article>
    <h2>Neusten Beiträge</h2>
    <div class="entry-grid">
      {
        allPosts
          .sort((a, b) => {
            return a.data.pubDate > b.data.pubDate ? -1 : 1;
          })
          .slice(0, 4)
          .map((post) => <EntryCard post={post} lang="de-DE" />)
      }
    </div>
    <a href="/blog/1" style="padding-bottom: 32px">alle weiteren Artikel...</a>
  </main>
</Layout>
