---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import { getCollection } from 'astro:content';
import EntryCard from '../components/entry-card/EntryCard.astro';
let allPosts = await getCollection('blog');
allPosts = allPosts.filter((entry) => entry.slug.split('/')[0] !== 'en');

const heroImg =
	'https://directus.aaronczichon.de/assets/ad8ec531-a3b7-45f1-b0c8-81fffd1ca84d.jpg?quality=80&width=2000';
---

<Layout title="Canada - Working Holiday für 12 Monate">
  <Hero
    url={heroImg}
    alt="Strahlendblauer Himmel welcher eine große Kanada-Flagge zeigt."
  />
  <main class="container">
    <article style="margin-bottom: 0">
      <h1>1 Jahr Kanada</h1>
      12 Monate leben in Kanada. Ein Traum wahr werden lassen und du kannst mit dabei
      sein. Virtuell natürlich. Beginnend mit 2 Monaten in Halifax, Nova Scotia reisen
      wir durch das Land und erkunden das wunderbare und schöne Kanada.
      <br /><br />
      Wir starteten im März in Halifax, sind dann weiter nach Neufundland, Montréal
      und dann mit dem Camper nach Toronto. <br />
      Von dort aus nach Winnipeg, Regina und Saskatoon bis wir nun in Calgary angekommen
      sind. <br />
      Danach sind wir für 2 Monate nach Thunder Bay gereist. Von dort ging es dann in die letzte Etappe 2 Wochen nach London und 4 Tage Toronto. <br />
      <br />
      Unsere Reise hat von März 2024 bis Ende Februar 2025 stattgefunden. Zukünftige Kanada-Reisen, vermutlich im Sommer 2026, werden hier ebenfalls dokumentiert. <br/>
    </article>
    <h2>Neusten Beiträge</h2>
    <div class="entry-grid">
      {
        allPosts
          .sort((a, b) => {
            return a.data.pubDate > b.data.pubDate ? -1 : 1;
          })
          .slice(0, 4)
          .map((post) => <EntryCard post={post} lang="de-DE" />)
      }
    </div>
    <a href="/blog/1" style="padding-bottom: 32px">alle weiteren Artikel...</a>
  </main>
</Layout>
