---
import Layout from '../layouts/Layout.astro';
import MultiMap from '../components/dynamic/MultiMap';
import { VisitingLocations } from '../content/visiting-locations';

const visitingLocations = VisitingLocations;
---

<Layout title="Canada - Karte">
  <main class="container">
    <article style="margin-bottom: 0;">
    <h1>Karte</h1>
    <p>
      Du willst wissen wo wir uns aktuell aufhalten? Hier findest du unsere
      aktuellen Orte. <br />
      Zuerst haben wir uns in Halifax, Nova Scotia aufgehalten.<br />
      Danach ging es 2,5 Monate durch Neufundland. <br />
      In Montréal, Québec haben wir uns etwas mehr als 3 Wochen aufgehalten. <br
      />
      Nach einem Roadtrip von Winnipeg über Regina und Saskatoon sind wir nun in
      Calgary.<br />
      Während unserer 3 Monate in Calgary haben wir auch Urlaub in Yukon und Alska gemacht.<br />
      Unser letzter, längerer Aufenthalt nun ist Thunder Bay, Ontario.<br />
      Zum Schluss befanden wir uns noch 2 Wochen in London und ein paar Tage in Toronto.<br />
    </p>
  </article>
  </main>

  <MultiMap
    client:visible
    zoom={visitingLocations.zoom}
    mapCenter={visitingLocations.mapCenter}
    points={visitingLocations.points}
    routes={visitingLocations.routes}
  />
</Layout>
