---
import Layout from '../layouts/Layout.astro';
import MultiMap from '../components/dynamic/MultiMap';
import { VisitingLocations } from '../content/visiting-locations';

const visitingLocations = VisitingLocations;
---

<Layout title="Canada - Karte">
  <main class="container">
    <article style="margin-bottom: 0;">
    <h1>Karte</h1>
    <p>
      Auf dieser Karte findest du alle bisherigen Routen und Reisen von uns nach Kanada.<br />
      Das große Highlight ist natürlich unsere Reise durch Kanada im Jahr 2024 und Anfang 2025, die in grün dargestellt ist.<br />
      Zusätzlich siehst du auch unsere Reiseroute 2023 durch Nova Scotia und PEI in rot und unsere Reise 2022 durch die kanadischen Rocky Mountains in blau.
    </p>
  </article>
  </main>

  <MultiMap
    client:visible
    zoom={visitingLocations.zoom}
    mapCenter={visitingLocations.mapCenter}
    points={visitingLocations.points}
    routes={visitingLocations.routes}
    lang="de"
  />
</Layout>
