---
import { getCurrentPathForSpecificLanguage } from './functions/lang.functions';

// paths for the specific language
const currentLang = Astro.currentLocale;
const deUrl = getCurrentPathForSpecificLanguage('de', Astro.request.url);
const enUrl = getCurrentPathForSpecificLanguage('en', Astro.request.url);
---

<div class="lang-header">
  <a href={deUrl} id="deSwitch" class={currentLang === "de" ? "active" : ""}
    >Deutsch</a
  >
  <a href={enUrl} id="enSwitch" class={currentLang === "en" ? "active" : ""}
    >English</a
  >
</div>
<script is:inline>
  const deElement = document.getElementById("deSwitch");
  const enElement = document.getElementById("enSwitch");

  const setLanguage = (lang) => {
    localStorage.setItem("lang", lang);
  };

  deElement.addEventListener("click", () => {
    setLanguage("de");
  });
  enElement.addEventListener("click", () => {
    setLanguage("en");
  });
</script>
