---
import MenuIcon from "./MenuIcon.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
import mainImage from "./main.jpg";
import { Image } from "astro:assets";

const currentLang = Astro.currentLocale === "de" ? "" : Astro.currentLocale;
---

<div class="container-nav">
  <nav class="container-nav topnav" id="myTopnav">
    <a href="/" class={currentPath === "" ? "active" : ""}>
      <Image
        src={mainImage}
        alt="Aaron Czichon & Lea Gräß"
        class="img-profile"
        widths={[30]}
        sizes={`30px`}
      />
    </a>
    <!-- <a href="#contact">Canada</a> -->
    <a href={"/blog/"} class={currentPath.indexOf("blog") > -1 ? "active" : ""}
      >Blog</a
    >
    <a
      href={currentLang + "/map"}
      class={currentPath.indexOf("map") > -1 ? "active" : ""}>Map</a
    >
    <a
      href={currentLang + "/pengiun"}
      class={currentPath.indexOf("pengiun") > -1 ? "active" : ""}
      >Find Pengiuns</a
    >
    <a
      href={currentLang + "/visitors"}
      class={currentPath.indexOf("visitors") > -1 ? "active" : ""}>Besuch</a
    >
    <!-- <a href="images.html">Images</a> -->
    <a
      href={currentLang + "/about"}
      class={currentPath.indexOf("about") > -1 ? "active" : ""}>Über uns</a
    >
    <a
      href={currentLang + "/imprint"}
      class={currentPath.indexOf("imprint") > -1 ? "active" : ""}>Impressum</a
    >
    <a
      href="javascript:void(0);"
      rel="nofollow"
      class="icon"
      onclick="toggleNav()"
    >
      <MenuIcon />
    </a>
  </nav>
</div>
<script is:inline>
  function toggleNav() {
    var x = document.getElementById("myTopnav");
    if (x.className === "container-nav topnav") {
      x.className += " responsive";
    } else {
      x.className = "container-nav topnav";
    }
  }
</script>
