---
const { date, lang } = Astro.props;

const publishedTranslation =
  lang === "de" ? "Veröffentlicht am" : "Published on";
---

<p>
  {publishedTranslation}
  {
    new Date(date).toLocaleDateString(lang, {
      year: "numeric",
      month: "long",
      day: "numeric",
    })
  }
  <slot />
</p>
