---
const { date } = Astro.props;
---

<p>
  Veröffentlich am {
    new Date(date).toLocaleDateString("de-DE", {
      year: "numeric",
      month: "long",
      day: "numeric",
    })
  }
  <slot />
</p>
